<!DOCTYPE html>


{% load static %}


<html class="dialog">
<head>
	<meta charset="utf-8">
	<title>Chloe Skills</title>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif|Droid+Serif:b|Droid+Serif:i|Lato|Lato:b|Lato:i">
	<!-- <link rel="stylesheet" type="text/css" href="force.css"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'chatapp/force.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'chatapp/style.css' %}" />
	<!-- <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script> -->
	<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script> -->
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script type="text/javascript" src="{% static 'chatapp/d3.v3.js' %} "></script>
	<script type="text/javascript" src="{% static 'chatapp/graphutil.js' %}"></script>
</head>
<body>

	<h1>Chloe Skills</h1>

	<h2><a href="{% url 'chatapp:create'%}">Create New Skill</a></h2>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<form action="{% url 'chatapp:save' %}" method="post">
		{% csrf_token %}
  		Source	   : <input type="text" name="Source" value="root" rows=1 cols=64><br>
  		Destination: <input type="text" name="Dest" value="" rows=1 cols=64><br>
  		Trigger	   : <input type="textarea" name="Trigger" value="" rows=6 cols=128><br>
  		Response   : <input type="textarea" name="Response" value="" rows=6 cols=128><br>
  		<input type="submit" value="Submit">
	</form>

	<center><h2>Chloe's "Brain"</h2></center>

	<div class="d3graph" id="chloedialoggraph" alt="Force-directed graph of the states and state transitions for each dialog element (command action pair) that Chloe understands."></div>

	<script>
	var graph;
	d3.json("{% url 'chatapp:network' %}", function(error, json) {
	    if (error) return console.warn(error);
	    graph = json;
	    draw_force_directed_graph(graph, 1000, 600, "div.d3graph",
	        function (group) { 
	            return "";}
	            // 1000,600 is default i like 1200,600
	    ); 
	});
	</script>
</body>
</html>
